<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <title>🔥</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      
      <div class="row">
        <div class="col-md-4">
          <h2>
            <a href="/">🇪 ♏🍪☂ ℹ</a>
          </h2>
        </div>
        <div class="col-md-8" style="text-align: right">
          <form class="form-inline">
            <div class="form-group">
              <label class="sr-only" for="hashtag-query">Hashtag</label>
              <div class="input-group">
                <div class="input-group-addon">#</div>
                <input type="text" class="form-control" id="hashtag-query" placeholder="Enter a hashtag">
              </div>
            </div>
            <button type="submit" id="hashSearch" class="btn btn-primary">🔎</button>
          </form>
        </div>
      </div>
      <p class="lead">⏱ Realtime emoji usage on Twitter 🐦</p>
      <hr>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
        <div class="explanation">
          <hr>
          <p>
            We've seen <span id="emoji_total_count"><%= @emoji_data_total_count %></span> emoji (and counting).
          </p>
        </div>
      </main>

    </div> <!-- /container -->
    <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/tinysort/2.2.4/tinysort.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>

  </body>
</html>
