<div style="margin-bottom: 40px;">
  <%= for {emoji, count, size} <- @emoji_data do %>
    <span class="kanji" id="<%= emoji %>" data-count="<%= count %>" title="<%= count %>"
      style="font-size: <%= size %>px; cursor: pointer" data-toggle="tooltip">
      &#x<%= emoji %>
    </span>
  <% end %>
</div>
